{% extends "geonode_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load base_tags %}

{% block title %} {% trans "Welcome!" %} - {{ block.super }} {% endblock %}

{% block body_class %}home{% endblock %}

{% block middle %}
  {{ block.super }}
  {% block hero %}
  <div class="jumbotron">
  	<div class="container">
  		<h1>{% trans "Welcome" %}</h1>
		<h1>
			<span id="jumbo-innovation">Innovation</span><span id="jumbo-lab">Lab</span>
			<span id="jumbo-geonode">GeoNode</span>
		</h1>
		<p>{% blocktrans %}Open data to further your understanding of disaster risk{% endblocktrans %}</p>
  	</div>
  </div>
  {% endblock %}

  {% block mainbody %}
  {% block datasets %}
  <section id="datasets">
	<div class="container">
		<div class="row home-facets">
			<div>
				<h1>Hazard datasets</h1>
				<p>We maintain a curation of hazard datasets at the global and country level. Tools like ThinkHazard! use these datasets in the backend.</p>
				{% with facet_type='home' %}
     			{% facets as facets %}
		 		<div class="col-xs-4 col-sm-3">
				  <div>
					  <a href="/search/?hazard_type=earthquake" data-toggle="tooltip" data-placement="auto">
						  <div class="category">
							  <i class="fa fa-4x"><img height=70px src="{% static "geonode/img/hazard-icon-earthquake.png" %}"></i>
							  <h4>Earthquake</h4>
							  <h5 class="text-center">{{facets.hazard_earthquake|default:_("No")}} {% trans "datasets" %}</h5>
						  </div>
					  </a>
				  </div>
				</div>
				<div class="col-xs-4 col-sm-3">
				  <div>
					  <a href="/search/?hazard_type=drought" data-toggle="tooltip" data-placement="auto">
						  <div class="category">
							  <i class="fa fa-4x"><img height=70px src="{% static "geonode/img/hazard-icon-drought.png" %}"></i>
							  <h4>Drought</h4>
							  <h5 class="text-center">{{facets.hazard_drought|default:_("No")}} {% trans "datasets" %}</h5>
						  </div>
					  </a>
				  </div>
				</div>
				<div class="col-xs-4 col-sm-3">
				  <div>
					  <a href="/search/?hazard_type=river_flood" data-toggle="tooltip" data-placement="auto">
						  <div class="category">
							  <i class="fa fa-4x"><img height=70px src="{% static "geonode/img/hazard-icon-flood.png" %}"></i>
							  <h4>River Flood</h4>
							  <h5 class="text-center">{{facets.hazard_river_flood|default:_("No")}} {% trans "datasets" %}</h5>
						  </div>
					  </a>
				  </div>
				</div>
				<div class="col-xs-4 col-sm-3">
				  <div>
					  <a href="/search/?hazard_type=tsunami" data-toggle="tooltip" data-placement="auto">
						  <div class="category">
							  <i class="fa fa-4x"><img height=70px src="{% static "geonode/img/hazard-icon-tsunami.png" %}"></i>
							  <h4>Tsunami</h4>
							  <h5 class="text-center">{{facets.hazard_tsunami|default:_("No")}} {% trans "datasets" %}</h5>
						  </div>
					  </a>
				  </div>
				</div>
				<div class="col-xs-4 col-sm-3">
					<div>
					  <a href="/search/?hazard_type=coastal_flood" data-toggle="tooltip" data-placement="auto">
						  <div class="category">
							  <i class="fa fa-4x"><img src="{% static "geonode/img/hazard-icon-storm-surge.png" %}"></img></i>
							  <h4>Coastal Flood</h4>
							  <h5 class="text-center">{{facets.hazard_coastal_flood|default:_("No")}} {% trans "datasets" %}</h5>
						  </div>
					  </a>
				  </div>
				</div>
				<div class="col-xs-4 col-sm-3">
					<div>
					  <a href="/search/?hazard_type=strong_wind" data-toggle="tooltip" data-placement="auto">
						  <div class="category">
							  <i class="fa fa-4x"><img src="{% static "geonode/img/hazard-icon-strong-wind.png" %}"></img></i>
							  <h4>Strong Wind</h4>
							  <h5 class="text-center">{{facets.hazard_strong_wind|default:_("No")}} {% trans "datasets" %}</h5>
						  </div>
					  </a>
				  </div>
				</div>
				<div class="col-xs-4 col-sm-3">
				  <div>
					  <a href="/search/?hazard_type=volcanic_ash" data-toggle="tooltip" data-placement="auto">
						  <div class="category">
							  <i class="fa fa-4x"><img src="{% static "geonode/img/hazard-icon-volcanic-ash.png" %}"></img></i>
							  <h4>Volcanic</h4>
							  <h5 class="text-center">{{facets.hazard_volcanic_ash|default:_("No")}} {% trans "datasets" %}</h5>
						  </div>
					  </a>
				  </div>
				</div>
				<div class="col-xs-4 col-sm-3">
				  <div>
					  <a href="/search/?hazard_type=landslide" data-toggle="tooltip" data-placement="auto" >
						  <div class="category">
							  <i class="fa fa-4x"><img height=70px src="{% static "geonode/img/hazard-icon-landslide.png" %}"></i>
							  <h4>Landslide</h4>
							  <h5 class="text-center">{{facets.hazard_landslide|default:_("No")}} {% trans "datasets" %}</h5>
						  </div>
					  </a>
				  </div>
        </div>
				<div class="col-xs-4 col-sm-3 dataset-icon">
				  <div>
					  <a href="/search/?hazard_type=wildfire" data-toggle="tooltip" data-placement="auto" >
						  <div class="category">
							  <i class="fa fa-4x"><img height=70px src="{% static "geonode/img/hazard-icon-wildfire.png" %}"></i>
							  <h4>Wildfire</h4>
							  <h5 class="text-center">{{facets.hazard_wildfire|default:_("No")}} {% trans "datasets" %}</h5>
						  </div>
					  </a>
				  </div>
        </div>
				<div class="col-xs-4 col-sm-3 dataset-icon">
				  <div>
					  <a href="/search/?hazard_type=extreme_heat" data-toggle="tooltip" data-placement="auto" >
						  <div class="category">
							  <i class="fa fa-4x"><img height=70px src="{% static "geonode/img/hazard-icon-extreme-heat.png" %}"></i>
							  <h4>Extreme Heat</h4>
							  <h5 class="text-center">{{facets.hazard_extreme_heat|default:_("No")}} {% trans "datasets" %}</h5>
						  </div>
					  </a>
				  </div>
        </div>
				<div class="col-xs-4 col-sm-3 dataset-icon">
				  <div>
					  <a href="/search/?hazard_type=urban_flood" data-toggle="tooltip" data-placement="auto" >
						  <div class="category">
							  <i class="fa fa-4x"><img height=70px src="{% static "geonode/img/hazard-icon-urban-flood.png" %}"></i>
							  <h4>Urban Flood</h4>
							  <h5 class="text-center">{{facets.hazard_urban_flood|default:_("No")}} {% trans "datasets" %}</h5>
						  </div>
					  </a>
				  </div>
        </div>
				<div class="col-xs-4 col-sm-3 dataset-icon">
				  <div>
					  <a href="/search/?hazard_type=water_scarcity" data-toggle="tooltip" data-placement="auto" >
						  <div class="category">
							  <i class="fa fa-4x"><img height=70px src="{% static "geonode/img/hazard-icon-water-scarcity.png" %}"></i>
							  <h4>Water Scarcity</h4>
							  <h5 class="text-center">{{facets.hazard_water_scarcity|default:_("No")}} {% trans "datasets" %}</h5>
						  </div>
					  </a>
				  </div>
        </div>
			  {% endwith %}
			</div>
		</div>
	</div>
  </section>
  {% endblock %}

  {% block showcase %}
  <section id="showcase">
    <div class="container">
      <div class="row home-facets">
		  <div class="col-md-12">
			  <h1>Post disaster</h1>
			  <p> Geospatial datasets collected for Post-disaster damage and needs assessments by World Bank teams </p>
			  <div class="col-md-4">
				  <div>
					  <a href="/search/?title__icontains=nepal" data-toggle="tooltip" data-placement="auto">
						  <div>
							  <i class="mg map-np mg-5x"></i>
							  <h3>Nepal Earthquake</h3>
							  <h5 class="text-center">2015-09-08</h5>
						  </div>
					  </a>
				  </div>
			  </div>
			  <div class="col-md-4">
				  <div>
					  <a href="/search/?title__icontains=haiyan" data-toggle="tooltip" data-placement="auto">
						  <div>
							  <i class="mg map-ph mg-5x"></i>
							  <h3>Philippines Typhoon</h3>
							  <h5 class="text-center">2015-09-08</h5>
						  </div>
					  </a>
				  </div>
			  </div>
			  <div class="col-md-4">
				  <div>
					  <a href="/search/?title__icontains=malawi" data-toggle="tooltip" data-placement="auto">
						  <div>
							  <i class="mg map-mw mg-5x"></i>
							  <h3>Malawi Floods</h3>
							  <h5 class="text-center">2015-09-08</h5>
						  </div>
					  </a>
				  </div>
			  </div>
		  </div>
	  </div>
    </div>
  </section>
  {% endblock %}

  {% endblock %}

{% endblock %}

{% block extra_script %}
{{ block.super }}
{% if DEBUG_STATIC %}
<script src="{{ STATIC_URL }}lib/js/angular.js"></script>
{% endif %}
<script type="text/javascript">
    FEATURED_URL = '{% url 'api_dispatch_list' api_name='api' resource_name='featured' %}'
    'use strict';
    (function(){
      var module = angular.module('featured', []);
      module.run(function($http, $rootScope){
        $http.get(FEATURED_URL).success(function(data){
          $rootScope.featured = data.objects;
        });
      });
    })();
</script>
<script>
	$('[data-toggle="tooltip"]').tooltip();
</script>
{% endblock extra_script %}
